<!DOCTYPE html>
<html lang="it">

<head>
    {{ partial "head.html" . }}
    <title>{{ .Title | markdownify }}</title>
</head>

<body class="home">
    <!--
    {{ with .Site.Params.videoBackground }}
        <video class="video" autoplay muted preload loop playsinline>
            {{ range .sources }}
                <source
                    src="{{ .source }}"
                    type="{{ .type }}"
                    poster="{{ .poster }}" />
            {{ end }}
        </video>
        {{ with .overlay }}
            <div id="overlay" style="background: {{ . | safeCSS }};"></div>
        {{ end }}
    {{ end }}
        -->
    <nav role="navigation" class="flex-container" id="splash">
         
        <img src="me-resized.png" class="myself" alt="it's me">
        {{ if .Site.Params.mainMenu }}
        {{ range .Site.Params.mainMenu }}
            <a href="{{.link}}" class="big-link">
                {{.text}}
            </a>
        {{ end }}

        {{ else }}
        {{ range .Site.Sections }}
            <a href="{{.RelPermalink}}" class="big-link">
                {{.Title | markdownify}}
            </a>
        {{ end }}
        {{ end }}

    </nav>
    <footer class="flex-container footer">{{ partial "footer.html" . }}</footer>
</body>

</html>
