<!DOCTYPE html>
<html lang="en">
<head>
    
    {{ partial "head.html" . }}
    <title>Coming soon</title>
</head>
<body class="coming-soon">
    <nav role="navigation" class="flex-container" id="splash">
        {{ .Content }}
    </nav>
    <footer class="flex-container footer">{{ partial "footer.html" . }}</footer>
</body>
</html>