{{ define "section_content" }}
<article class="flex-container">
    {{ .Content }}
</article>
<nav role="navigation">
    <ul class = "centered-posts">
        {{ range .Data.Pages }}
        <li>
            {{ if .Params.showDate }}
            {{ .Date.Format (.Site.Params.dateForm | default "Mon Jan 02, 2006")}} --
            {{ end }}
            <a href="{{.RelPermalink}}">
                {{.Title | markdownify}}
            </a>
        </li>
        {{ end }}
    </ul>
</nav>
{{ end }}