{{ $currentPage := . }}

{{ $images := (.Page.Resources.ByType "image") }}
{{ if .Get "match"}}
	{{ $images = (.Page.Resources.Match (.Get "match")) }}
{{ end }}

{{ $filterOptions := .Get "filterOptions" | default (.Site.Params.galleryFilterOptions | default "[]") }}
{{ if not $filterOptions }}
	{{ $filterOptions = "[]" }}
{{ end }}

{{ $sortOrder := .Get "sortOrder" | default (.Site.Params.gallerySortOrder | default "asc") }}

{{ $rowHeight := .Get "rowHeight" | default (.Site.Params.galleryRowHeight | default 150) }}

{{ $margins := .Get "margins" | default (.Site.Params.galleryRowMargins | default 5) }}

{{ $resizeOptions := .Get "resizeOptions" | default (.Site.Params.galleryResizeOptions | default "300x150 q85 Lanczos") }}

{{ $loadJQuery := .Get "loadJQuery" | default (.Site.Params.galleryLoadJQuery | default false) }}

{{ $showExif := .Get "showExif" | default (.Site.Params.galleryShowExif | default false) }}

{{ $justifiedGalleryParameters := .Get "justifiedGalleryParameters" | default (.Site.Params.galleryJustifiedGalleryParameters | default "") }}

{{ $previewType := .Get "previewType" | default (.Site.Params.galleryPreviewType | default "blur") }}

{{ $embedPreview := .Get "embedPreview" | default (.Site.Params.galleryEmbedPreview | default true) }}

{{ $thumbnailHoverEffect := .Get "thumbnailHoverEffect" | default (.Site.Params.galleryThumbnailHoverEffect | default "none") }}

<!-- hugos image processing saves images at resources/_gen/images, if the property resourceDir
	 is changed in hugos config.toml file the images are save <resourceDir>/_gen/images.
	 Because it is not possible to access the value of resourceDir, users who change resourceDir also have to change
	[params] resourceDir. -->
{{ $thumbnailResourceDir := printf "%s%s" (.Site.Params.resourceDir | default "resources") "/_gen/images/" }}

<!-- Load jquery, jquery-lazy, swipebox and justified_gallery only once per page -->
{{ if not (.Page.Scratch.Get "galleryLoaded") }}
  	{{ .Page.Scratch.Set "galleryLoaded" true }}

		<script src="/shortcode-gallery/jquery-3.5.1.min.js"></script>
	
	{{ if not (eq $previewType "none") }}
		<script src="/shortcode-gallery/lazy/jquery.lazy.min.js"></script>
	{{ end }}

	<script src="/shortcode-gallery/swipebox/js/jquery.swipebox.min.js"></script>
	<link rel="stylesheet" href="/shortcode-gallery/swipebox/css/swipebox.min.css">

	<script src="/shortcode-gallery/justified_gallery/jquery.justifiedGallery.min.js"></script>
	<link rel="stylesheet" href="/shortcode-gallery/justified_gallery/justifiedGallery.min.css"/>
{{ end }}

<style>
	{{ if (eq $thumbnailHoverEffect "enlarge") }}
		.jg-entry img {
			transition: transform .25s ease-in-out !important;
		}

		.jg-entry img:hover {
			transform: scale(1.1);
		}
	{{ end }}

	{{ if not (eq $filterOptions "[]") }}
		/* inline css from assets folder */
		{{ (resources.Get "shortcode-gallery/filterbar.sass" | toCSS).Content | safeCSS }}
	{{ end }}
</style>

<!--
Ordinal increases every time this shortcode is used in a document
Ordinal: {{ .Ordinal}}
-->
{{ $galleryId := (printf "gallery-%v" .Ordinal)}}
{{ $galleryWrapperId := (printf "gallery-%v-wrapper" .Ordinal)}}

<div id="{{ $galleryWrapperId }}" class="gallery-wrapper">
<div id="{{ $galleryId }}" class="justified-gallery">
	{{ range $original := sort $images "Name" $sortOrder}}
		{{ if eq $original.ResourceType "image" }}
			{{ $thumbnail := ($original.Fit ($resizeOptions)) }}

			{{ $metaFileName := print $original.Name ".meta"}}
			{{ $metadata := $currentPage.Page.Resources.GetMatch ($metaFileName) }}
			{{ if $metadata }}
				{{ $metadata = $metadata.Content }}
				{{ $metadata = $metadata | unmarshal }}
			{{ else }}
				{{ $metadata = dict }}
			{{ end }}

			


			<div>
				<a href="{{ $original.RelPermalink }}" 
					class="galleryImg"
					{{ with $metadata }}
						{{ if .ImageDescription }}
							title="{{ .ImageDescription }}"
						{{ end }}

						{{ if $showExif }}
							data-description="{{ .Model }} + {{ .LensModel }}<br/>{{ .FocalLength }}mm f/{{ .FNumber }} {{ .ExposureTime }}sec ISO {{ .ISOSpeedRatings }}"
						{{ end }}

						{{ if not (eq $filterOptions "[]")  }}
							{{/* only include fields that are currently supported by the filter mechanism (in JS at the end of the file) */}}
							data-meta="{{ (dict "Tags" $metadata.Tags "Rating" $metadata.Rating "ColorLabels" $metadata.ColorLabels "ImageDescription" $metadata.ImageDescription) | jsonify }}"
						{{ end }}
					{{ end }}
					>
					<img			
						width="{{ $thumbnail.Width }}" height="{{ $thumbnail.Height }}"

						{{ if (eq $previewType "blur") }}
							{{ $preview_b := ($original.Fit ("32x32 q70 box jpg")) }}
							style="filter: blur(25px);"
							{{ if $embedPreview }}
								src="data:image/jpeg;base64,{{ $preview_b.Content | base64Encode }}"
							{{ else }}
								src="{{ $preview_b.RelPermalink }}"
							{{ end }}
							class="lazy"
							data-src="{{ $thumbnail.RelPermalink }}"
						{{ else if (eq $previewType "color") }}
							{{ $preview_1p := ($original.Resize ("1x1 box png")) }}
							{{ if $embedPreview }}
								src="data:image/png;base64,{{ $preview_1p.Content | base64Encode }}"
							{{ else }}
								src="{{ $preview_1p.RelPermalink }}"
							{{ end }}
							class="lazy"
							data-src="{{ $thumbnail.RelPermalink }}"
						{{ else }}
							src="{{ $thumbnail.RelPermalink }}"
						{{ end }}

						{{ with $metadata }}
							{{ if .ImageDescription }}
								alt="{{ .ImageDescription }}"
							{{ end }}
						{{ end }}
					>
				</a>
			</div>
		{{ end }}
	{{ end }}
</div>
</div>

<script>
	if (!jQuery) {
		alert("jquery is not loaded");
	}

	$( document ).ready(() => {
		const gallery = $("#{{ $galleryId }}");
		{{ $lastRowJustification := .Get "lastRow" | default (.Site.Params.galleryLastRow | default "justify") }}

		gallery.justifiedGallery({
			rowHeight : {{ $rowHeight }},
			margins : {{ $margins }},
			border : 0,
			waitThumbnailsLoad : false,
			lastRow : {{ $lastRowJustification }},
			captions : false,
		});

		// the instance of swipebox, it will be set once justifiedGallery is initialized
		let swipeboxInstance = null;

		gallery.on('jg.complete', () => {
			{{ if or (eq $previewType "blur") (eq $previewType "color") }}
				// if there is already some low resolution image data loaded, then we will wait for loading´
				// the hi-res until the justified gallery has done the layout
				$(() => {
					$('.lazy').Lazy({
						afterLoad: element => element.css({filter: "none", transition: "filter 1.0s ease-in-out"})
					});
				});
			{{ end }}

			swipeboxInstance = $('.galleryImg').swipebox(
				jQuery.extend({},
					{ {{ $justifiedGalleryParameters | safeJS }} }
				)
			);
		});

		// only include JS code for filter options if there at least one filter option
		{{ if not (eq $filterOptions "[]") }}

			// this function can be used to create a function that can be used by justifiedGallery
			// for filtering images by their metadata
			function createMetadataFilter(filterFunction) {
				return (entry, index, array) => {
					//let title = $(entry).find("a").attr("title");
					let meta = $(entry).find("a").attr("data-meta");
					meta = meta ? JSON.parse(meta) : {};
					
					let include = filterFunction(meta);

					// only those images visible in justified gallery should be displayed
					// in swipebox (only <a> with class galleryImg are displayed in swipebox)
					if(include) {
						$(entry).find("a").addClass("galleryImg");
					} else {
						$(entry).find("a").removeClass("galleryImg");
					}

					return include;
				}
			}

			// this function returns a function that can be used by justifiedGallery
			// for filtering images by their tags
			function createTagFilter(tagsRegexString) {
				const tagsRegex = RegExp(tagsRegexString);
				return createMetadataFilter(meta => {
					let tags = meta.Tags;
					tags = tags ? tags : [];
					return tags.some(tag => tagsRegex.test(tag));
				});
			};

			// this function returns a function that can be used by justifiedGallery
			// for filtering images by their description
			function createImageDescriptionFilter(descriptionRegexString) {
				const descriptionRegex = RegExp(descriptionRegexString);
				return createMetadataFilter(meta => {
					let imageDescription = meta.ImageDescription;
					return imageDescription !== null && descriptionRegex.test(imageDescription);
				});
			};

			// this function returns a function that can be used by justifiedGallery
			// for filtering images by their star rating
			function createRatingFilter(min, max) {
				return createMetadataFilter(meta => {
					let rating = meta.Rating;
					if(rating === null){
						rating = -1;
					}
					return rating >= min && rating <= max;
				});
			};

			// this function returns a function that can be used by justifiedGallery
			// for filtering images by their color labels
			function createColorLabelFilter(color) {
				color = color.charAt(0).toLowerCase()
				return createMetadataFilter(meta => {
					let colors = meta.ColorLabels;
					return colors && colors.includes(color);
				});
			};

			const filterOptions = {{ $filterOptions | safeJS }};
			
			// insert a div for inserting filter buttons before the gallery
			const filterbar = $("<div class='justified-gallery-filterbar'/>");
			gallery.before(filterbar);

			var wrapper = document.getElementById("{{ $galleryWrapperId }}");

			// inline svg icons
			const expandIcon = '{{ (resources.Get "shortcode-gallery/font-awesome/expand-alt-solid.svg").Content | safeHTML }}';
			const compressIcon = '{{ (resources.Get "shortcode-gallery/font-awesome/compress-alt-solid.svg").Content | safeHTML }}';

			function setFulltab(activate) {
				if(activate == wrapper.classList.contains("fulltab")){
					return;// nothing to do, we are already in the right state
				}

				wrapper.classList.toggle("fulltab");
				gallery.justifiedGallery({
					rowHeight : {{ $rowHeight }} * (activate ? 1.5 : 1.0),
					lastRow: (activate ? "nojustify": {{ $lastRowJustification }}),
					// force justifiedGallery to refresh
					refreshTime: 0,
				});
				// force justifiedGallery to refresh
				gallery.data('jg.controller').startImgAnalyzer();
				fullTabButton.html(wrapper.classList.contains("fulltab") ? compressIcon : expandIcon)
			};

			const fullTabButton = $("<button/>");
			fullTabButton.html(expandIcon);
			fullTabButton.click(() => setFulltab(!wrapper.classList.contains("fulltab")));
			filterbar.append(fullTabButton);
			$(document).keyup(e => {
				// when ESC is pressed
				if (e.keyCode === 27){
					setFulltab(false);
				}
			});
	
			let first = true;
			// create a button for each filter entry 
			filterOptions.forEach(filterConfig => {
				let filter; // create a filter function based on the available attributes of filterConfig
				if(filterConfig.tags) {
					filter = createTagFilter(filterConfig.tags);
				} else if(filterConfig.rating){
					if(filterConfig.rating.includes("-")){
						minMax = filterConfig.rating.split("-");  // e.g. "3-5"
					} else {
						minMax = [filterConfig.rating, filterConfig.rating];  // e.g. "4"
					}
					filter = createRatingFilter(parseInt(minMax[0]), parseInt(minMax[1]));
				} else if(filterConfig.color_label){
					filter = createColorLabelFilter(filterConfig.color_label);
				} else if(filterConfig.description){
					filter = createImageDescriptionFilter(filterConfig.description);
				} else {
					// use always true filter
					filter = createMetadataFilter(meta => true);
				}

				const filterButton = $("<button/>");
				filterButton.text(filterConfig.label);
				filterButton.click(() => {
					gallery.justifiedGallery({filter : filter});
					// remove select class from all other selected buttons
					filterbar.find('.selected').removeClass('selected');
					filterButton.addClass("selected");
				});
				filterbar.append(filterButton);

				if(first) {
					filterButton.trigger("click");
					first = false;
				}
			});
		{{ end }}
	});
</script>
